{% extends 'blog/layout.html' %}
{% load imagekit %}

{% block title %}
    {{ post.name }}
{% endblock %}

            {% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{ post.name }}</h2>
            {% if post.photo %}
                <img src="{{ post.photo.url }}" alt="" class="img-fluid">
                {% thumbnail "100x100" post.photo %}

                {% thumbnail '200x200' post.photo as thumb %}
                <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt=""/>

                {% thumbnail "250x250" post.photo -- style="" onclick="" class="" %}
            {% endif %}
            {{ post.content |linebreaks}}
            <hr/>
            <h3>Comments</h3>
            {% for comment in post.comment_set.all %}
                <li>
                    {{ comment.message }}
                    <small> by {{ comment.author }}</small>
                    <small> at {{ comment.updated_at }}</small>
                </li>
            {% endfor %}
            <hr>
            <a class="btn-primary btn" href="{% url 'blog:post_list' %}">글 목록</a>
            <a class="btn-primary btn" href="{% url 'blog:post_edit' post.id %}" class="btn btn-primary">글 수정</a>
        </div>
    </div>
</div>
{% endblock %}